body {
    font-family: var(--font-primary);
    background-color: var(--color-bg-gray);
}

/* Header Verde */
/* .header-green {
    background: var(--color-primary-green);
    padding: var(--spacing-lg) var(--spacing-md) 6rem;
    color: var(--color-white);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    margin-bottom: -4rem;
}

.header-title {
    font-family: var(--font-primary);
    font-weight: 800;
    font-size: 28px;
    line-height: 1.2;
    margin-top: var(--spacing-sm);
} */

/* Sezioni Titoli */
.section-title {
    font-family: var(--font-secondary);
    font-weight: 590;
    font-size: 20px;
    color: var(--color-black);
}

/* Card Fermata */
.stop-card {
    background: var(--color-white);
    box-shadow: var(--shadow-card-alt);
    border-radius: var(--radius-lg);
    text-decoration: none;
    color: inherit;
    transition: transform 0.1s;
}

.stop-card:active {
    transform: scale(0.98);
}

.stop-card.list-item {
    box-shadow: var(--shadow-card);
}



.stop-name {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 20px;
    color: var(--color-black);
}

.stop-desc {
    font-family: var(--font-secondary);
    font-weight: 510;
    font-size: 14px;
    color: var(--color-text-gray);
}

/* Badge Linea */
.line-badge {
    background: var(--color-primary-blue);
    border-radius: var(--radius-sm);
    color: var(--color-white);
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

/* Stop IDs Container */


.stop-id-badge {
    background: var(--color-accent-blue);
    color: white;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}

/* Search Input */


.search-input {
    padding: var(--spacing-sm);
    border-radius: var(--radius-lg);
    border: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    font-family: var(--font-primary);
    font-size: 16px;
}

[data-theme="dark"] .search-input {
    background-color: var(--color-white);
    color: var(--color-black);
    filter: hue-rotate(180deg) brightness(95%) contrast(90%);
}

/* Quick Action */
.quick-action {
    color: var(--color-text-dark);
}

/* Loading */
#loading {
    text-align: center;
    color: var(--color-text-gray);
}

.no-results {
    text-align: center;
    color: var(--color-text-gray);
    font-family: var(--font-primary);
}